body {
	padding-top: 75px;
	background: #000046;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

h2 {
	text-align: center;
	color: white;
}

.footer {
	font-size: 0.8em;
}

.navbar-brand {
    font-size:1.1em;
}


.navbar-nav {
    font-size:1.5em;
}

.container {
	padding: 15px;
}

a {
	color: black;
}

#icons {
	font-size: 1.5em;
}

table, th, td {
    text-align: center;
    vertical-align: middle;
}

thead th {
    font-size: 1.2em;
    padding: 15px;
}
table {
    margin-top: 30px;
}

tbody {
    background-color: white;
    color:black;
}