body {
    padding-top: 90px;  
    background: #000046;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    color: black;
}

h2 {
    text-align: center;
    color: white;
}

.navbar-brand {
}

.navbar-nav {
    font-size:1.3em;
}

#mainNav{
    border-bottom: 2px white solid;
    box-shadow: 0px 5px 10px black;
}

.container {
    padding: 15px;
}

a {
    color: black;
}

.mycard {
	border-top: #bdc3c7 3px solid;
	border-left: #bdc3c7 3px solid;
	border-right: black 2px solid;
	border-bottom: black 2px solid;
	box-shadow: 5px 5px 5px black;
	background-color: #bdc3c7;
}

.icon-link {
	font-size: 1.8em;
	padding: 0px 5px ;
}

.icons-span {
	font-size:1.5em;
}

.buttonUp {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.pagination {
	margin-top: 5px;
	margin-bottom: 5px;
}


.nav-pag {
	padding-left:0;
	padding-right: 0;
}

table {
    margin-top: 30px;
    border: black 3px solid;
    background-color: #FDFDFE;
}

th {
	padding: 8px;
	border-bottom: #586674 2px solid;
	background-color: #E9ECEF;
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
	/*background-color:#E9ECEF #FDFDFE;*/
}
td
{
	padding: 10px 10px;
	text-align: center;
	border-bottom: #E2E5E9 1px solid;
	border-right:  #E2E5E9 1px solid;

}


